# Environnements virtuels
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Fichiers compilés
*.so
*.dll
*.dylib

# Jupyter notebook
.ipynb_checkpoints/

# IDE (PyCharm, VSCode, etc.)
.idea/
*.iml
.vscode/

# Fichiers de données
data/*.csv
data/*.tsv
data/*.json
data/*.zip
data/*.xlsx
data/*.pkl
data/*.h5

# Fichiers temporaires / résultats
outputs/
checkpoints/
*.log

# Système
.DS_Store
Thumbs.db
