# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Compiled files
*.so
*.dll
*.dylib

# Jupyter notebook
.ipynb_checkpoints/

# IDEs (PyCharm, VSCode, etc.)
.idea/
*.iml
.vscode/

# Temporary files / outputs
outputs/
checkpoints/
*.log

# System files
.DS_Store
Thumbs.db
